<?xml version="1.0"?>
<launch>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <param name="robot_description" textfile="$(find odometry)/urdf/rover.urdf" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find odometry)/launch/config.rviz" />
  
  <include file="$(find viso2_ros)/launch/demo.launch" />
    
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="base_link"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    <remap from="/vo" to="visual_odom"/>
  </node>

</launch>
